<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.app.mapper.demo.DemoMapper">
	<select id="getDemoList" resultType="com.neusoft.app.entity.demo.DemoEntity">
	SELECT d.id as id,d.demo1 as demo1,d.demo2 as demo2,d.demo3 as demo3 from yf_demo_tab d
	</select>
</mapper>