<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
   
   <!-- 加载配置文件 -->
     <context:property-placeholder location="classpath:db.properties"/>
   <!-- 数据源，使用c3p0 -->
  <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="user" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="driverClass" value="${jdbc.driver}"></property>
		
		<property name="acquireIncrement" value="5"></property>
		<property name="initialPoolSize" value="10"></property>
		<property name="minPoolSize" value="2"></property>
		<property name="maxPoolSize" value="50"></property>
	</bean>
	
	
    <!-- sqlsessionFactory -->
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
       <!-- 加载mybatis的配置文件 -->
       <property name="configLocation" value="mybatis/SqlMapConfig.xml"/> 
       <!-- 数据源 -->
       <property name="dataSource" ref="dataSource"/>
  </bean>
  
   <!-- 原始dao接口 -->
    <!--  <bean id="userDao" class="cn.itcast.ssm.dao.UserDaoImpl">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
     </bean> -->
     
     <!-- mapper的配置 
       MapperFactoryBean:根据mapper接口生成代理对象
     -->
    <!--  <bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
           mapperInterface指定mapper接口
           <property name="mapperInterface" value="cn.itcast.ssm.mapper.UserMapper"/>
           <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
     </bean> -->
     
     
     <!-- mapper的批量扫描的方式，从mapper包中扫描mapper接口，自动创建代理对象并在spring的容器中注册 
        遵循规范：需要将mapper接口的类名和mapper.xml的映射文件名称保持一致,且在一个文件目录中
     -->
     <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- 指定扫描的包名 
                    如果扫描多个包，每个包中间使用半角逗号分隔
        -->
        <property name="basePackage" value="cn.itcast.ssm.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
     </bean>
  
</beans>
